@media only screen and (min-width:320px) and (max-width:700){
    nav{

        display: block;
    }
    .menu{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
div{
    position: relative;
    top: -1600px;
    z-index: 1;
}
div>img{
    position: fixed;
    opacity:1;
}
section{
    position: relative;
    z-index:2 ;
}
nav{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
}
nav>p{
    /* font-family: 'Dancing Script', cursive; */
    color: white;
    font-size:22px;
}
[placeholder*="Enter"]{
    border: 2px solid white;
    border-radius: 5px;
    color: gray;
    font-size:18px;
    width:30rem;
    padding:12px;
}
select{
    border-radius: 5px;
    color:gray;
    font-size:18px;
    width:508px;
    padding:12px;
}
.menu{
    position: relative;
    left: 400px;
    width:33rem;
    padding:50px;
    color: white;
    font-size:21px;
    font-family: 'Josefin Sans', sans-serif;
    background-color:#000000ba;
    line-height: 27px;
    border-radius: 15px;   
}
[name="submit"]{
    border-radius: 5px;
    color: white;
    font-size:20px;
    width:508px;
    padding:12px;
    background-color:rgb(228, 183, 3);
    border: 1px solid rgb(228, 183, 3);
}